formatted-duration {
    display: block;
    padding: 1em;
}

count-down {
    display: block;
    padding: 1em;
}

formatted-duration .integer {
}

.month {
}

.year {
}
.day {
}


count-down:defined{
    display: block;
    background-color: lemonchiffon;
    margin: 10px;
}

count-down:state(future){
    background-color: navajowhite;
}
count-down:state(past){
    background-color: seagreen;
}

count-down:state(invalid){
    background-color: firebrick;
}